::selection {
  color: white;
  background-color: #82d2ee;
}

body {
  background-image: linear-gradient(180deg, #fafafa 15%, #82d2ee 90%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.main-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 200px 20px 0px 20px;
}
.main-hero h1 {
  font-size: 60px;
  margin-bottom: 0;
  color: #283054;
}
.add-username-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
.add-username {
  font-size: 22px;
  border-radius: 10px;
  transition: all 0.5s;
  margin: 10px 0px;
  text-align: center;
}
.add-username h2 {
  font-size: 20px;
  font-weight: 400;
  color: #283054;
}
.add-username-field {
  border: none;
  background-color: #fad141;
  height: 50px;
  width: 300px;
  transition: all 0.5s;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
  font-size: 20px;
  color: black;
}
.add-username-field::placeholder {
  color: black;
  font-weight: 200;
}
.add-username-field:focus {
  outline: none;
}
.add-username-button {
  margin: 10px 0px;
  border-radius: 5px;
  height: 49px;
  width: 300px;
  font-size: 22px;
  font-weight: 500;
  outline: none;
  color: #283054;
  position: relative;
  top: -2px;
  background-color: #49ced9;
}
.add-username-button:hover {
  color: white;
}
.warning-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  top: -3rem;
  margin: 0;
  padding: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 2ms;
}
.invalid-username-warning {
  font-size: 20px;
  width: 300px;
  text-align: center;
}
@media only screen and (min-width: 412px) {
  body {
    background-image: url('../images/bg.png');
  }
  .main-hero h1 {
    font-size: 80px;
  }
  .add-username {
    width: 900px;
  }
  .add-username h2 {
    font-size: 26px;
  }
  .add-username-field {
    width: 600px;
  }
  .add-username-button {
    width: 200px;
  }
  .invalid-username-warning {
    width: 800px;
  }
}
