* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(270deg, #fafafa 15%, #82d2ee 90%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header Css */
nav {
  position: fixed;
  z-index: 9;
  background: #283054;
  height: 80px;
  width: 100%;
}
label.logo {
  color: #82d2ee;
  font-size: 35px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}
.navigation .menu-items {
  padding: 0;
  float: right;
  margin-right: 20px;
}
.navigation .menu-items li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.navigation .menu-items li a {
  color: #82d2ee;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
a.active,
a:hover {
  color: #66fcf1 !important;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: #66fcf1;
  float: left;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    position: absolute;
    right: 25vw;
    padding-left: 50px;
  }
  .navigation .menu-items li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
    padding-left: 30px;
  }
  .menu-items {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #283054;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .navigation .menu-items li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .navigation .menu-items li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
.toggle-menu-expand {
  height: 100%;
  width: 40%;
  position: absolute;
  left: 0;
}
.toggle-menu-expand ul {
  background-color: black;
}
.toggle-menu-expand ul li a {
  text-decoration: none;
  color: white;
}

/*Notes Page CSS*/
.welcome-messages {
  position: fixed;
  padding: 20px 8px;
  top: 80px;
  text-align: center;
  background-image: linear-gradient(270deg, #fafafa 15%, #82d2ee 90%);
  z-index: 1;
  width: 100%;
}
.add-note-section {
  position: fixed;
  background-image: linear-gradient(270deg, #fafafa 15%, #82d2ee 90%);
  z-index: 1;
  top: 150px;
  width: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: -50px;
}
.add-note {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-note-field {
  margin: 20px 10px;
  height: 50px;
  padding: 20px 30px;
  border: none;
  background-color: #c5c6c7;
  width: 300px;
  border-radius: 10px;
  transition: all 0.5s;
}
.add-note-field::placeholder {
  color: black;
  font-size: 20px;
}
.add-note-field:focus {
  outline: none;
  padding: 25px;
  padding-right: 90px;
}
.add-note-button {
  padding: 10px 15px;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
  border: none;
  background-color: #c5c6c7;
  transition: ease-in-out 0.1s;
  border-radius: 100%;
}
.warning-wrapper {
  display: flex;
  margin: 0px 20px;
  padding: 0;
  position: relative;
  top: -100px;
  visibility: hidden;
  transition: visibility 0s, opacity 2ms;
}

@media only screen and (min-width: 601px) {
  .warning-wrapper {
    left: 18rem;
  }
}
@media only screen and (min-width: 1439px) {
  .warning-wrapper {
    left: 20rem;
  }
}
.invalid-note-warning {
  font-size: 18px;
  text-align: left;
  margin: 0;
  color: red;
}
.update-button-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  top: -50px;
  margin: 10px 8px;
  width: 80%;
  visibility: hidden;
}
.save-note-button {
  margin: 10px 8px;
  padding: 10px 8px;
  font-size: 18px;
  border: none;
  transition: ease-in-out 0.1s;
  border-radius: 10px;
  width: 145px;
}
.cancel-note-button {
  margin: 10px 0px;
  padding: 10px 8px;
  font-size: 18px;
  border: none;
  transition: ease-in-out 0.1s;
  border-radius: 10px;
  width: 145px;
}
.add-note-button:hover {
  background-color: lightgray;
}

.notes-section {
  position: relative;
  top: 300px;
  justify-content: left;
  padding: 10px 40px;
}
.card {
  width: 300px;
  max-width: 18rem;
  height: auto;
  max-height: 10rem;
  border-radius: 10px;
  background-image: linear-gradient(30deg, #fafafa 40%, #fad141 100%);
}
.note-card {
  margin: 20px 10px;
}
.card-text {
  height: 70px;
  overflow: auto;
}
.btn-edit {
  visibility: hidden;
  color: #66fcf1;
  background-color: #0b0c10;
}
.btn-delete {
  visibility: hidden;
  color: #66fcf1;
  background-color: #0b0c10;
  margin-left: 6px;
}
.btn-edit:hover,
.btn-delete:hover {
  color: lightseagreen;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card:hover .btn-edit {
  visibility: visible;
  display: inline-block;
  animation: fadeIn 1s;
}
.card:hover .btn-delete {
  visibility: visible;
  display: inline-block;
  animation: fadeIn 1s;
}

.selected {
  box-shadow: 0px 5px 10px 5px #c5c6c7;
}
@media only screen and (min-width: 412px) {
  .welcome-messages {
    padding: 10px 8px;
    font-size: 22px;
  }
  .add-note-section {
    top: 130px;
  }
  .form-container {
    margin-bottom: -20px;
  }
  .add-note-field {
    width: 700px;
  }
  .warning-wrapper {
    top: -20px;
    width: 700px;
  }
  .update-button-wrapper {
    width: 90%;
    position: relative;
    top: -30px;
  }
  .save-note-button {
    font-size: 22px;
    width: 260px;
    margin: 5px 18px;
  }
  .cancel-note-button {
    font-size: 22px;
    width: 260px;
    margin: 5px 18px;
  }
  .card {
    width: auto;
  }
}

/*Lists CSS*/
.add-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.add-list-button {
  padding: 10px;
  font-size: 22px;
  margin-left: -30px;
  border: none;
  background-color: #c5c6c7;
  transition: all 0.5s;
  border-radius: 100%;
}
.add-list-button:hover {
  background-color: lightgrey;
}
.list-heading {
  text-align: center;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 700;
}

#lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 50%;
  position: absolute;
  top: 300px;
}
#invalid-list-warning {
  position: relative;
  color: red;
  left: 3rem;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
  margin: 15px 10px;
  visibility: hidden;
}
@media (min-width: 1280px) {
  #invalid-list-warning {
    left: 23rem;
  }
}
@media (min-width: 1440px) {
  #invalid-list-warning {
    left: 26rem;
  }
}
.list-item {
  width: 18rem;
  font-size: 20px;
  text-transform: capitalize;
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  margin: 2px 0px;
  background-color: lightcyan;
}
.list-item-check {
  font-size: 1rem;
  margin: 0px 1rem;
}
.list-item-data {
  font-size: 1.2rem;
}
.list-item-delete {
  font-size: 1.2rem;
  padding: 0.2rem 1.2rem;
  border: none;
  outline: none;
  background-color: lightcyan;
  visibility: hidden;
  transition: all 0.3s;
}
.list-item:hover .list-item-delete {
  visibility: visible;
}
.completed {
  text-decoration: line-through;
  opacity: 0.7;
}
.trash-section {
  position: absolute;
  top: 100px;
  justify-content: flex-start;
}
